@model IEnumerable<First_Project.Models.Contact>

@{
    ViewData["Title"] = "Index";
}
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1 class="text-primary">Contacts</h1>
        <a asp-action="Create" class="btn btn-success">
            <i class="fa fa-plus-circle"></i> Create New
        </a>
    </div>

    <div class="card shadow-lg">
        <div class="card-body">
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Name)</th>
                        <th>@Html.DisplayNameFor(model => model.Email)</th>
                        <th>@Html.DisplayNameFor(model => model.Subject)</th>
                        <th>@Html.DisplayNameFor(model => model.message)</th>
                        <th>@Html.DisplayNameFor(model => model.Date)</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.Email)</td>
                            <td>@Html.DisplayFor(modelItem => item.Subject)</td>
                            <td>@Html.DisplayFor(modelItem => item.message)</td>
                            <td>   @item.Date.ToString("MMMM dd, yyyy")</td>
                            <td class="text-center">
                              
                                <a asp-action="Details" asp-route-id="@item.idContact" class="btn btn-warning btn-sm">
                                    <i class="fa fa-info-circle"></i> Details
                                </a>
                                <a asp-action="Delete" asp-route-id="@item.idContact" class="btn btn-danger btn-sm">
                                    <i class="fa fa-trash"></i> Delete
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
